name: Update R Visualization and Deploy MKDocs

on:
  schedule:
    - cron: '0 0 * * 0'  # Runs every day at midnight UTC
  
    # Add manual deployment trigger
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up pandoc  
        uses: r-lib/actions/setup-pandoc@v2
        with:
          pandoc-version: '2.17.1'
      - run: echo "# Test" | pandoc -t html

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
    
      - name: Install dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::rdatacite
            any::dplyr
            any::networkD3
            any::readr 
            any::purrr
            any::tibble
            any::rcrossref
    
      - name: Run R Script to Generate HTML
        run: Rscript -e 'source("dataset-summary.R")'
      
      - name: Commit files
        run: |
          git config --local user.email "brett.johnson@hakai.org"
          git config --local user.name "Brett Johnson"
          git add .
          git commit -m "Update data" || echo "No changes to commit"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11.2' 

      - name: Python Poetry Action
        uses: abatilo/actions-poetry@v2.3.0
      - name: Install Dependencies
        run: |
          poetry install
    
      - name: Deploy MkDocs Site
        run: |
          poetry run mkdocs build
          poetry run mkdocs gh-deploy --force
