name: Build and Deploy R Markdown Website

on:
  push:
    branches:
      - main  # Trigger the action on push events to the main branch
  schedule:
    - cron: '0 0 * * *'  # Runs every day at midnight UTC

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_LIBS_USER: '~/R/library'
      
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4 

    - name: Set up pandoc  
      uses: r-lib/actions/setup-pandoc@v2
      with:
        pandoc-version: '2.17.1'
    - run: echo "# Test" | pandoc -t html

    - name: Setup R
      uses: r-lib/actions/setup-r@v2

    - name: Generate DESCRIPTION file
      run: source("generate_description.R")
      shell: Rscript {0}
    
    - name: Install dependencies
      uses: r-lib/actions/setup-r-dependencies@v2
      
    - name: Build R Markdown Website
      run: rmarkdown::render_site(encoding = "UTF-8")
      shell: Rscript {0}
      
    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4.4.3
      with:
        clean: false
        branch: gh-pages
        folder: docs
