name: Build and Deploy R Markdown Website

on:
  push:
    branches:
      - main  # Trigger the action on push events to the main branch
  schedule:
    - cron: '0 0 * * *'  # Runs every day at midnight

  jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4 
    - uses: r-lib/actions/setup-pandoc@v2

    - name: Setup R
      uses: r-lib/actions/setup-r@v2  
      with:
        r-version: 'release'  # Use the latest stable release

    - name: Install R dependencies
      run: Rscript -e 'install.packages(c("rmarkdown", "tidyverse", "rdatacite", "networkd3", "ggOceanMaps", "ckanr", "reactable", "googlesheets4", "scales", "plotly", "rgbif", "purrr"))'
    - name: Build R Markdown Website
      run: Rscript -e 'rmarkdown::render_site()'

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3  # Updated to latest version
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs  # The directory where your site is built; adjust if different
