name: Deploy MKDocs

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11.2' 

    - name: Python Poetry Action
      uses: abatilo/actions-poetry@v2.3.0
    - name: Install Dependencies
      run: |
        poetry install
    
    - name: Deploy MkDocs Site
      run: |
        mkdocs build
        mkdocs gh-deploy --force
